In [1]:
cohort1 = {
    'Avery': [63, 62, 41, 66, 84, 82, 73, 89, 69, 75],
    'Blake': [79, 97, 78, 78, 74, 69, 80, 100, 74, 70],
    'Casey': [93, 97, 99, 95, 98, 91, 96, 99, 100, 88],
    'Dakota': [71, 65, 72, 65, 24, 100, 84, 71, 59, 50],
    'Elliot': [84, 73, 90, 72, 69, 93, 61, 65, 81, 98],
    'Fox': [80, 91, 90, 80, 83, 73, 84, 89, 84, 84],
    'Gale': [41, 7, 64, 60, 78, 48, 73, 50, 69, 89]
}

Create functions that can take a data structure like `cohort1`.

`student_means`: Return a new dictionary, with students as keys and their mean test score as the value.
Then add an optional argument, `drop_lowest`. When true, drop each student's lowest score before calculating their mean.

`student_grades`: Return a new dictionary, with students as keys and their grade as the value. Add the optional `drop_lowest` argument like in `student_means`. A is 90+, B is 80-89, C is 70-79, D is 60-69, F is below 60.

`all_scores`: Return a list of all the students' test scores.

`class_mean`: Return a float, the mean score for the entire class across all tests.

`score_histogram`: Return a new dictionary. Each key is a letter grade (A, B, C, D, F). The value for each is all the students' test scores that fall within that grade range.

### NOTE

There is a hard requirement that no function have more than 7 lines of code. This will necessitate breaking up functions into other helper functions.

In [33]:
def mean(nums, drop_lowest=False):
    if drop_lowest:
        nums = sorted(nums)[1:]
    return sum(nums) / len(nums)

def student_means(cohort, drop_lowest=False):
    return {student: mean(cohort[student], drop_lowest) for student in cohort}
    # Another option
    # return {student: mean(grades) for student, grades in cohort.items()}
    
def letter_grade(grade):
    if grade >= 90: return "A"
    elif grade >= 80: return "B"
    elif grade >= 70: return "C"
    elif grade >= 60: return "D"
    else: return "F"
    
def student_grades(cohort, drop_lowest=False):
    return {student: letter_grade(score) 
            for student, score in student_means(cohort, drop_lowest).items()}

def all_scores(cohort):
    return [score 
            for s in cohort.values() 
            for score in s]

def class_mean(cohort):
    return mean(all_scores(cohort))

In [34]:
all_scores(cohort1)

[63,
 62,
 41,
 66,
 84,
 82,
 73,
 89,
 69,
 75,
 84,
 73,
 90,
 72,
 69,
 93,
 61,
 65,
 81,
 98,
 79,
 97,
 78,
 78,
 74,
 69,
 80,
 100,
 74,
 70,
 71,
 65,
 72,
 65,
 24,
 100,
 84,
 71,
 59,
 50,
 93,
 97,
 99,
 95,
 98,
 91,
 96,
 99,
 100,
 88,
 80,
 91,
 90,
 80,
 83,
 73,
 84,
 89,
 84,
 84,
 41,
 7,
 64,
 60,
 78,
 48,
 73,
 50,
 69,
 89]

In [36]:
class_mean(cohort1)

76.04285714285714

In [20]:
student_means(cohort1)

{'Avery': 70.4,
 'Blake': 79.9,
 'Casey': 95.6,
 'Dakota': 66.1,
 'Elliot': 78.6,
 'Fox': 83.8,
 'Gale': 57.9}

In [21]:
student_means(cohort1, drop_lowest=True)

{'Avery': 73.66666666666667,
 'Blake': 81.11111111111111,
 'Casey': 96.44444444444444,
 'Dakota': 70.77777777777777,
 'Elliot': 80.55555555555556,
 'Fox': 85.0,
 'Gale': 63.55555555555556}

In [22]:
student_means({"Bailey": [90, 80, 80]}, drop_lowest=True)

{'Bailey': 85.0}

In [23]:
student_grades(cohort1)

{'Avery': 'C',
 'Blake': 'C',
 'Casey': 'A',
 'Dakota': 'D',
 'Elliot': 'C',
 'Fox': 'B',
 'Gale': 'F'}

In [24]:
student_grades(cohort1, drop_lowest=True)

{'Avery': 'C',
 'Blake': 'B',
 'Casey': 'A',
 'Dakota': 'C',
 'Elliot': 'B',
 'Fox': 'B',
 'Gale': 'D'}